<template>
  <section class="p-2 w-64 text-gray-600 mt-2">
    <h2 class="text-xl">{{ title }}</h2>
    <div class="border-2 border-white" v-if="hasImageSlot">
        <slot name="image"></slot>
    </div>
    <div>
        <slot></slot>    
    </div>   
  </section>
</template>

<script>
export default {
    
    name: 'ContentColumn',

    props: {
        title: {
            type: String,
            required: true
        }
    },
    
    computed: {
        hasImageSlot() {
            return !!this.$slots.image;
        }
    }
}
</script>