<template>
  <nav>
      <ul class="flex justify-betweeen items-center">
          <li v-for="obj in links" :key="obj.link">
              <slot :linkObj="obj"></slot>
          </li>
      </ul>
  </nav>
</template>

<script>
export default {
    props: {
        links: {
            type: Array,
            required: true
        }
    }
}
</script>