<template>
  <div class="container bg-gray-300 w-full h-full py-2">
      <div class="w-full p-2" v-for="({comment, firstName, date}, i) in sortedComments" :key="i">
          <q class="block italic">{{comment}}</q>
          <span class="font-bold">- {{ firstName }}</span>
          <span class="italic">{{ date }}</span>
      </div>
  </div>
</template>

<script>

import { format, fromUnixTime } from 'date-fns';

export default {
    
    name: 'Ouotes',

    props: {
        comments: {
            type: Array,
            required: true
        }
    },

    computed: {
        /**
         * Process original comments, add firstName and formatted date values to each object
         */
        processedComments() {
            return this.comments.map(comment => {
                return {
                    ...comment,
                    firstName: comment.name.split(' ')[0],
                    date: format(fromUnixTime(comment.timestamp), 'M/dd/yyyy')
                }
            })
        },
        /**
         * Filter the processComments for any comment that does not contain two periods or more 
         * consecutively. eg ".." || "..."
         */
        filteredComments() {
            return this.processedComments.filter(({comment}) => !(/\.{2,}/.test(comment)));
        },

        /**
         * Sort the filteredComments by date ascending
         */
        sortedComments() {
            return this.filteredComments.sort((a, b) => a.timestamp - b.timestamp);
        }
    }
}

</script>
<style scoped>
.container div:nth-child(even) {
    @apply bg-blue-200;
}
</style>
