<template>
  <div class="hero-container w-full border-4 border-white flex-1 overflow-hidden relative">
      <div class="images" ref="images">
        <img class="w-full inline-block" v-for="image in images" :key="image" :src="require(`~/assets/images/slideshow/${image}`)" alt="hero image"/>
      </div>
  </div>
</template>

<script>
export default {
  
  name: 'SlideShow',
  
  props: {
    images: {
      type: Array,
      required: true
    }
  },

  mounted() {
    this.imageInterval = setInterval(() => {
      this.setTransform();
      this.direction == 'forward' ? this.currentImageIndex++ : this.currentImageIndex--;
    }, 3000);

    window.addEventListener('resize', this.setTransform);
  },

  data() {
    return {
      currentImageIndex: 0,
      imageInterval: null,
      direction: 'forward'
    }
  },

  computed: {
    position() {
      return this.direction == 'forward' ? this.currentImageIndex + 1 : this.currentImageIndex - 1;
    }
  },

  methods: {
    setTransform() {
      const offsetWidth = this.$refs.images.offsetWidth;
      this.$refs.images.style['transform'] = `translate3d(-${this.position * offsetWidth}px,0,0`;
    },
  },

  watch: {
    currentImageIndex(i) {
      if (i == this.images.length - 1) {
        this.direction = 'backward';
      } else if (i == 0) {
        this.direction = 'forward';
      }
    }
  },

  beforeDestroy() {
    clearInterval(this.imageInterval);
    window.removeEventListener('resize', this.setTransform);
  }
 
}
</script>

<style scoped>
.hero-container {
  height: 385px;
}
.images{
  white-space: nowrap;
  transition: transform 1s ease-in-out;
}
</style>