<template>
  <footer class="w-full h-16 bg-gray-400 flex items-center justify-between text-gray-600 px-6">
      &copy; Copyright. All Rights Reserved.
      <NavLinks :links="navLinks">
        <template v-slot:default="{linkObj: {link, name}}">
          <span class="border-gray-200 capitalize w-full px-4">
            <NuxtLink :to="link">
              {{name}}
            </NuxtLink>
          </span>
        </template>
      </NavLinks>
  </footer>
</template>

<script>
  import navLinks from "~/static/navLinks.json";
  export default {
    name: 'TheFooter',
    data() {
      return {
        navLinks: [...navLinks]
      }
    }
  }
</script>

<style scoped>
li:not(:last-child) span {
  @apply border-r;
}
</style>