<template>
  <header class="bg-gray-400 px-4 lg:px-10 w-full h-24 flex items-center justify-between">
      <img src="~/assets/images/logo.png" />
      <NavLinks :links="navLinks">
        <template v-slot:default="{linkObj: {link, name}}">
          <span class="border border-black text-white bg-gradient-to-t from-blue-500 to-blue-400 p-2 uppercase">
            <NuxtLink :to="link">
              {{name}}
            </NuxtLink>
          </span>
        </template>
      </NavLinks>
  </header>
</template>

<script>
  import navLinks from "~/static/navLinks.json";
  export default {
    name: 'TheHeader',
    data() {
      return {
        navLinks: [...navLinks]
      }
    }
  }
</script>

<style scoped>
  li:first-child span {
    @apply rounded-tl-md rounded-bl-md;
  }

  li:last-child span {
    @apply rounded-tr-md rounded-br-md;
  }
</style>
