<template>
  <div class="bg-gray-100 min-h-screen flex flex-col">
    <TheHeader />
      <main class="flex-1 m-auto">
        <Nuxt />
      </main>
    <TheFooter />
  </div>
</template>

<script>
export default {
    name: 'DefaultLayout'
}
</script>

<style scoped>
main {
  max-width: 1000px;
}
</style>