<template>
  <div class="p-4 flex flex-col justify-center items-center">
    <SlideShow :images="slideShowImages"/>
    <div class="flex justify-around lg:justify-between items-start w-full flex-wrap mt-4">
      <ContentColumn title="This is Some Content">
        <template #image>
          <img src="~/assets/images/column-left.jpg" alt="column left image" />
        </template>
        <p class="text-sm leading-relaxed mt-2">
            {{ leftColumnText }}
        </p>
      </ContentColumn>
      <ContentColumn title="This is Some Content">
        <template #image>
          <img src="~/assets/images/column-center.jpg" alt="column center image" />
        </template>
        <ul class="pl-4">
          <li class="text-sm mt-2" v-for="bullet in midColumnBullets" :key="bullet">
            {{ bullet }}
          </li>
        </ul>
      </ContentColumn>
      <ContentColumn title="What Others Are Saying?">
        <Quotes :comments="comments" />
       </ContentColumn>
    </div>
  </div>
</template>

<script>
  import comments from "~/static/comments.json";
  import slideShowImages from "~/static/slideShowImages.json";
  export default {
    
    name: 'Home',

    data() {
      return {
        slideShowImages: [...slideShowImages],
        comments: [...comments],
        
        leftColumnText: `Far far away, behind the word mountains, far from the countries Vokalia and Consomantia,
            there lived the blind tests. Separated they lived in Bookmarksgrove right at the coast of
            the Semantics, a large language ocean.`,
        
        midColumnBullets: [
          'Sed lacinia enim et nisl viverra',
          'Nullam elementum quam in hictus',
          'Integer ac et lacus hendrerit pretium',
          'Donec placerat diu et blandit',
          'Nullam elementum quam in luctus'
        ]
      }
    },
    
  }
</script>

<style scoped>
li {
  list-style-image: url('~/assets/images/list.png');
}
</style>